.Header {
    background: linear-gradient(45deg, #007bff, #00c3ff); 
    color: white;
    padding: 10px 40px; 
    text-align: center; 
    font-size: 24px; 
    font-weight: bold;
    border-bottom: 2px solid transparent; 
    transition: transform 0.3s, box-shadow 0.3s, border-bottom-color 0.3s;
    position: relative; 
    overflow: hidden; 
    width: 100%; 
  }

  
